.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 2rem;
}

.jumbotron img:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.jumbotron img.zoomed {
  transform: scale(1.7);
  cursor: zoom-out
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
  z-index: 100;
}

.jumbotron img {
  transition: transform 0.3s ease-in-out;
  cursor: zoom-in;
  position: relative;
  z-index: 10;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.jumbotron img.zoomed {
  transform: scale(1.3) rotateY(5deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
  z-index: 100;
}

#projects .card {
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

#projects .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#projects .card .card-img-top {
  transition: transform 0.1s ease-out;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* My handphone section */

.handphone-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.handphone-box::before {
  content: 'MY';
  position: absolute;
  color: #fff;
  opacity: 0;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.handphone-box:hover::before {
  opacity: 0.2;
}

.handphone-box::after {
  content: 'handphone';
  position: absolute;
  color: #fff;
  opacity: 0;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.handphone-box:hover::after {
  opacity: 0.2;
}

.handphone-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 0, 50px);
}

.handphone-box:hover .handphone-name {
  opacity: 1;
  top: 20px;
}

.handphone-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0, 5s;
}

.handphone-box:hover .handphone-detail-button {
  opacity: 1;
  bottom: 20px;
}

.handphone-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 240px;
  transition: 0.5s;
  z-index: 10;
}

.handphone-box:hover .handphone-img {
  transform: translate3d(-50%, -52%, 100px) rotate(10deg) scale(1.2);
}
